@charset "UTF-8";
@import url();
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.neueworld {
  font-family: "NeueWorld", sans-serif;
}

.headline, .link-home {
  font-size: 13.8vw;
  text-transform: uppercase;
  font-family: "NeueWorld", sans-serif;
}

.title, .num {
  font-size: 3.7vw;
  font-family: "NeueWorld", sans-serif;
}

.link-txt {
  font-size: 3.7vw;
  line-height: 1;
}

.arch .picture {
  width: 100%;
  height: 100%;
}

.tit, .link-util {
  font-size: 1.7vw;
  line-height: 1.5;
}

.overflow-hidden {
  overflow: hidden;
}

:root {
  --transparent: var(--transparent);
  --white: #fff;
  --black: #000;
  --gray-light: #e5e5e5;
  --gray-dark: #131313;
  --pink: #ffb0ee;
  --orange: #ff4800;
  --index: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  font-size: 1.53vw;
  color: #fff;
  background-color: var(--black);
  font-family: "campton", "NeueMontreal-Book", "NanumBarunGothic", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.4;
  overflow-x: hidden;
}

@font-face {
  font-family: "NeueMontreal-Medium";
  src: url(../fonts/NeueMontreal-Medium.woff) format("woff");
}
@font-face {
  font-family: "NeueMontreal-Book";
  src: url(../fonts/NeueMontreal-Book.woff);
}
@font-face {
  font-family: "NeueWorld";
  src: url(../fonts/NeueWorld-ExtendedThin.woff) format("woff");
}
@font-face {
  font-family: "campton";
  src: url(../fonts/camton.woff2) format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "campton";
  src: url(../fonts/2e9a3801-e1f5-4731-9d9b-86ba7ca425b9.woff2) format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "campton";
  src: url(../fonts/3e12b6e3-e175-4004-8d07-a575118660a9.woff2) format("woff2");
  font-weight: lighter;
}
@font-face {
  font-family: "NanumBarunGothic";
  src: url(../fonts/NanumBarunGothic.woff) format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "NanumBarunGothic";
  src: url(../fonts/NanumBarunGothicBold.woff) format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "ppiko";
  src: url(../fonts/PPEiko-Thin.woff) format("woff");
}
.footer .group-grid {
  display: grid;
  grid-template-columns: 1.4fr 1.5fr;
  border: solid #fff;
  border-width: 0 0 1px 0;
}
.footer .group-grid .util-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer .group-grid .util-area .util-block {
  border: solid #fff;
  border-width: 1px 1px 0 0;
  position: relative;
}
.footer .group-grid .util-area .util-block .link-util {
  display: block;
  text-align: center;
  padding-top: 2.5vw;
}
.footer .group-grid .util-area .util-block .link-util::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  pointer-events: none;
}
.footer .group-grid .util-area .util-block .link-util:hover::before {
  opacity: 1;
}
.footer .group-grid .util-area .util-block .link-util:hover .area-hidden {
  opacity: 1;
}
.footer .group-grid .util-area .util-block .link-util .area-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #131313;
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.footer .group-grid .util-area .util-block .link-util .area-hidden span {
  padding: 0 10px;
}
.footer .group-grid .txt-flow-area {
  height: 15vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: solid #fff;
  border-width: 1px 0 0 0;
  padding-top: 3vw;
}
.footer .group-grid .txt-flow-area .link-home {
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
  padding-right: 5vw;
  text-transform: lowercase;
}
.footer .copy-area {
  padding: 3vw 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .copy-area .copy {
  font-size: 1.7vw;
  display: flex;
  align-items: center;
}
.footer .copy-area .copy::before {
  content: "©";
  font-family: "NeueWorld", sans-serif;
  display: block;
  font-size: 3.7vw;
  margin-right: 0.7vw;
  position: relative;
  top: 0.4vw;
}
.footer .copy-area .right {
  display: flex;
  align-items: center;
}
.footer .copy-area .right .img-box {
  display: flex;
  align-items: center;
  margin-right: 0.7vw;
  width: 1.8vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  transition: 1s;
  z-index: 100;
}
.header.hide {
  transform: translateY(-100%);
}
.header .flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 7vw;
}
.header .flex-wrap .link-logo {
  font-size: 1vw;
}
.header .flex-wrap .link-logo .logo-icon {
  display: block;
  background: url(../images/logo.svg);
  background-size: 100% 100%;
  width: 7vw;
  height: 2vw;
}
.header .flex-wrap .group-hash-tag {
  font-family: "campton";
  font-size: 1.5vw;
}
.header .flex-wrap .group-hash-tag .tag-list {
  display: flex;
  gap: 1vw;
}
.header .flex-wrap .group-hash-tag .tag-list .tag-item {
  border: 1px rgba(255, 255, 255, 0.3) solid;
  border-radius: 20px;
  padding: 0 1.5vw;
  transition: 0.5s;
}
.header .flex-wrap .group-hash-tag .tag-list .tag-item:hover {
  color: #000;
  background: #fff;
}
.header .flex-wrap .icons .link-shop {
  display: block;
  position: relative;
}
.header .flex-wrap .icons .link-shop .moon {
  width: 3vw;
  position: relative;
  transition: 0.5s;
}
.header .flex-wrap .icons .link-shop .moon.front {
  visibility: visible;
  opacity: 1;
}
.header .flex-wrap .icons .link-shop .hover-shop {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1vw;
  top: 50%;
  left: -90%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.header .flex-wrap .icons .link-shop .hover-shop img {
  width: 2.5vw;
}
.header .flex-wrap .icons .link-shop .hover-shop.back {
  visibility: hidden;
  opacity: 0;
}
.header .flex-wrap .icons:hover .hover-shop.back {
  visibility: visible;
  opacity: 1;
}
.header .flex-wrap .icons:hover .moon.front {
  visibility: hidden;
  opacity: 0;
}

.sc-intro {
  position: relative;
  overflow: hidden;
}
.sc-intro .box-wrap {
  text-transform: uppercase;
  margin: 0 2vw 0 3vw;
  padding: 12vw 0 5vw;
  line-height: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: -0.2vw;
}
.sc-intro .box-wrap .overflow-hidden {
  overflow: hidden;
}
.sc-intro .box-wrap .overflow-hidden .flex-line {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 9vw;
  padding: 0 4vw;
}
.sc-intro .box-wrap .overflow-hidden .flex-line.mt {
  margin-top: -1.7vw;
}
.sc-intro .box-wrap .overflow-hidden .flex-line .m {
  margin-right: 2.5vw;
}
.sc-intro .box-wrap .overflow-hidden .flex-line .txt.neueworld {
  padding-top: 2.3vw;
}
.sc-intro .box-wrap .overflow-hidden .flex-line .img-box {
  width: 6vw;
}
.sc-intro .box-wrap .overflow-hidden .flex-line .img-box.gif {
  width: 13vw;
}
.sc-intro .box-wrap .overflow-hidden .flex-line .img-box.arrow {
  width: 8.6vw;
}

.background-img {
  width: 50%;
  position: absolute;
  right: -10%;
  top: 30%;
  z-index: -10;
}

.sticker .sticker-wrap {
  position: relative;
  height: 50vh;
}
.sticker .sticker-wrap .sticker-icon {
  z-index: 100;
  position: absolute;
}
.sticker .sticker-wrap .sticker-icon.ring {
  width: 7vw;
  left: 40%;
  transform: rotate(70deg);
}
.sticker .sticker-wrap .sticker-icon.cup {
  width: 8.3vw;
  left: 42vw;
  top: 6vw;
  transform: rotate(-150deg);
}
.sticker .sticker-wrap .sticker-icon.phone {
  width: 4.5vw;
  right: 38%;
  transform: rotate(40deg);
}
.sticker .sticker-wrap .sticker-icon.table {
  width: 7.2vw;
  right: 42%;
  top: 6vw;
  transform: rotate(150deg);
}

.explain {
  text-align: center;
  position: relative;
}
.explain .title-area {
  margin-bottom: 10.5vw;
  opacity: 0;
  transition: 1s;
}
.explain .title-area .ex-title {
  font-size: 2.5vw;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
.explain .title-area .ex-title.colorize {
  font-size: 3.8vw;
}
.explain .title-area .ex-title .victory-hand {
  width: 3vw;
  padding-bottom: 1vw;
}
.explain .title-area .desc {
  font-size: 1.2vw;
}
.explain.on .title-area {
  opacity: 1;
  transform: translateY(0%);
}
.explain .txt-wrap .txt-paragraph:not(:last-child) {
  margin-bottom: 3.1vw;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden {
  overflow: hidden;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .purpose {
  margin-bottom: 3.1vw;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .txt-line {
  font-size: 3.68vw;
  line-height: 1.2;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .txt-line.btn-more-content {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  display: inline-block;
  font-size: 1.2vw;
  padding: 1vw 1.5vw;
  transition: 0.5s;
  margin-top: 8vw;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .txt-line.btn-more-content:hover {
  color: #000;
  background: #fff;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .txt-line .img-box img {
  width: 4.3vw;
  display: inline-block;
  position: relative;
  top: -0.7vw;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .txt-line .pink-tag {
  position: relative;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .txt-line .pink-tag span {
  position: relative;
}
.explain .txt-wrap .txt-paragraph .overflow-hidden .txt-line .pink-tag .bg {
  background-color: var(--orange);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  transform-origin: top left;
  transform: scaleX(0);
}
.explain .rotate-arrow {
  width: 10vw;
  position: absolute;
  right: 0;
}
.explain .rotate-arrow img {
  rotate: 90deg;
}

.arch {
  margin-top: 20vh;
}
.arch .picture {
  overflow: hidden;
  transition: 1s;
  -webkit-clip-path: circle(20% at 50% 100%);
          clip-path: circle(20% at 50% 100%);
}

.feed {
  position: relative;
}
.feed .txt-flow {
  padding-top: 8.5vw;
  display: flex;
  overflow: hidden;
}
.feed .txt-flow .headline {
  padding: 0 4.8vw;
}
.feed .group-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
}
.feed .group-grid .column-left {
  margin-top: 6vw;
  padding: 0 0 0 8.2vw;
}
.feed .group-grid .column-left .note {
  text-transform: uppercase;
  padding: 8vw 24.6vw 0 0;
  font-size: 0.97vw;
}
.feed .group-grid .column-left .note::before {
  content: "*";
  display: block;
  font-family: "NeueWorld", sans-serif;
  line-height: 0.4;
  font-size: 4vw;
}
.feed .group-grid .column-right {
  margin-top: 23vw;
  padding: 0 5vw;
}
.feed .group-grid .column-right .title {
  padding-bottom: 1.4vw;
}
.feed .group-grid .column-right .wrap .desc:not(:first-child) {
  margin-top: 2vw;
}
.feed .group-grid .desc {
  line-height: 1.7;
  font-size: 1vw;
  padding-top: 2vw;
}
.feed .group-grid .desc span {
  display: block;
}
.feed .group-grid .desc-tit {
  margin-bottom: 1.2vw;
  font-size: 1.5vw;
  font-style: italic;
  display: block;
}
.feed .dispersion-images {
  height: 40vw;
  position: relative;
  z-index: -1;
}
.feed .dispersion-images .img-box {
  position: absolute;
  overflow: hidden;
  scale: 0.7;
}
.feed .dispersion-images .img-box.d1 {
  width: 20vw;
  top: 0;
  left: 12vw;
  z-index: 100;
}
.feed .dispersion-images .img-box.d2 {
  width: 28vw;
  left: 30vw;
  top: 15vw;
  z-index: 90;
}
.feed .dispersion-images .img-box.d3 {
  width: 20vw;
  right: 25vw;
  z-index: 80;
}
.feed .dispersion-images .img-box.d4 {
  width: 20vw;
  right: 10vw;
  top: 20vw;
}
.feed .dispersion-images .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.feed .steps {
  padding: 6.25vw 12.5vw 0 7.7vw;
}
.feed .steps .steps-list {
  padding: 3vw 0 0 4.8vw;
}
.feed .steps .steps-list span {
  width: 0%;
  background: #fff;
  height: 1px;
  display: block;
}
.feed .steps .steps-list .steps-item {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.6;
  padding: 1vw 0;
}
.feed .steps .steps-list .steps-item .method {
  font-size: 1.73vw;
  padding-left: 3vw;
  text-transform: uppercase;
}
.feed .feed-footer {
  padding: 12vw 0vw 2vw 64vw;
}
.feed .feed-footer .link-facebook .overflow-hidden .link-line {
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
}
.feed .feed-footer .link-facebook .link-txt {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.feed .feed-footer .link-facebook:hover .link-line {
  background: rgba(255, 255, 255, 0.5);
}

.dispersion-images .img-box {
  position: relative;
}
.dispersion-images .img-box.d5 {
  width: 22vw;
  height: 23vw;
  top: 23vw;
  left: 22vw;
  z-index: -10;
}
.dispersion-images .img-box.d6 {
  width: 20vw;
  left: 30vw;
  top: 10vw;
}
.dispersion-images .img-box.d7 {
  width: 25vw;
  height: 40vw;
  top: 10vw;
  left: 40vw;
}
.dispersion-images .img-box.d8 {
  width: 23vw;
  right: 20vw;
  top: 15vw;
}
.dispersion-images .img-box.d9 {
  width: 20vw;
  height: 20vw;
  bottom: -10vw;
  right: 25vw;
}

.conclusion {
  position: relative;
  padding: 17vw 0 0;
}
.conclusion .tit {
  font-size: 1.7vw;
  line-height: 1.5;
  width: 45vw;
  padding-left: 8vw;
  text-transform: uppercase;
}
.conclusion .years {
  display: flex;
  align-items: center;
  padding: 4vw 0 0 5vw;
}
.conclusion .years .years-num {
  flex: 1;
  line-height: 1;
  font-size: 28vw;
  font-family: "NeueWorld", sans-serif;
}
.conclusion .years .years-num.riseUp {
  opacity: 1;
  transform: translateY(0);
}
.conclusion .years .years-num .df {
  overflow: hidden;
  position: relative;
}
.conclusion .years .years-num .df .before-count {
  display: block;
}
.conclusion .years .years-num .df .after-count {
  position: absolute;
  left: 0;
}
.conclusion .years .years-num .df .after-count.riseUp {
  transform: translateY(0);
}
.conclusion .years .con-arrow {
  padding: 0 1vw 8vw 1vw;
}
.conclusion .years .con-arrow img {
  width: 18vw;
}
.conclusion .con-img {
  overflow: hidden;
  width: 40vw;
  height: 50vw;
  margin: 0 auto;
}
.conclusion .con-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact {
  padding: 0 0 7vw;
  text-align: center;
  margin-top: -10vw;
}
.contact .txt-line-list {
  padding-top: 3.8vw;
  display: grid;
  gap: 2vw;
}
.contact .txt-line-list .txt-line-item .txt {
  font-family: "NeueWorld";
  font-size: 3.7vw;
}
.contact .txt-line-list .txt-line-item .txt .img-box {
  position: relative;
  width: 9.6vw;
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
}
.contact .txt-line-list .txt-line-item .txt .img-box.first-gif::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/contact.gif) center/cover;
  opacity: 0;
  transition: 0.1s;
}
.contact .txt-line-list .txt-line-item .txt .img-box.first-gif:hover.first-gif::after {
  opacity: 1;
}
.contact .txt-line-list .txt-line-item .txt .img-box.second-gif::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/christmas.gif) center/cover;
  opacity: 0;
  transition: 0.1s;
}
.contact .txt-line-list .txt-line-item .txt .img-box.second-gif:hover.second-gif::after {
  opacity: 1;
}
.contact .txt-line-list .txt-line-item .txt .img-box.third-gif::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/jean.gif) center/cover;
  opacity: 0;
  transition: 0.1s;
}
.contact .txt-line-list .txt-line-item .txt .img-box.third-gif:hover.third-gif::after {
  opacity: 1;
}
.contact .txt-line-list .txt-line-item .txt .img-box.fourth-gif::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/choice.gif) center/cover;
  opacity: 0;
  transition: 0.1s;
}
.contact .txt-line-list .txt-line-item .txt .img-box.fourth-gif:hover.fourth-gif::after {
  opacity: 1;
}
.contact .txt-line-list .txt-line-item .txt .contact-link {
  font-family: "NeueMontreal-Book";
  position: relative;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}
.contact .txt-line-list .txt-line-item .txt .contact-link:hover {
  border-bottom: none;
}
.contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-first::after, .contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-second::after, .contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-third::after, .contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-fourth::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  transform: scaleX(0);
  border-bottom: 1px solid #fff;
  transform-origin: left;
}
.contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-first:hover.border-scale-first::after {
  transition: 1s;
  transform: scaleX(1);
}
.contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-second:hover.border-scale-second::after {
  transition: 1s;
  transform: scaleX(1);
}
.contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-third:hover.border-scale-third::after {
  transition: 1s;
  transform: scaleX(1);
}
.contact .txt-line-list .txt-line-item .txt .contact-link.border-scale-fourth:hover.border-scale-fourth::after {
  transition: 1s;
  transform: scaleX(1);
}