@font-face {
  font-family: 'NeueMontreal-Medium';
  src: url(../fonts/NeueMontreal-Medium.woff) format('woff');
}
@font-face {
  font-family: 'NeueMontreal-Book';
  src: url(../fonts/NeueMontreal-Book.woff);
}
@font-face {
  font-family: 'NeueWorld';
  src: url(../fonts/NeueWorld-ExtendedThin.woff) format('woff');
}

@font-face {
  font-family: 'campton';
  src: url(../fonts/camton.woff2) format('woff2');
  font-weight: bold;
}




@font-face {
  font-family: 'campton';
  src: url(../fonts/2e9a3801-e1f5-4731-9d9b-86ba7ca425b9.woff2) format('woff2');
  font-weight: normal;

}

@font-face {
  font-family: 'campton';
  src: url(../fonts/3e12b6e3-e175-4004-8d07-a575118660a9.woff2) format('woff2');
  font-weight: lighter;

}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url(../fonts/NanumBarunGothic.woff) format('woff');
  font-weight: normal;
}


@font-face {
  font-family: 'NanumBarunGothic';
  src: url(../fonts/NanumBarunGothicBold.woff) format('woff');
  font-weight: bold;
}


@font-face {
  font-family: 'ppiko';
  src: url(../fonts/PPEiko-Thin.woff) format('woff');
}

@import url();

// font-family: 'NeueMontreal';
// font-family: 'NeueWorld';